@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-dark-blue: #003A79;
        --color-light-blue: #007ABD;
        --color-light-blue: #7CB1DD;
        --color-light-yellow: #fff3d1;
        --color-yellow: #E9AB00;
        --color-light-orange: #fad8b8;
        --color-orange: #EE7D11;
        --color-red: #E5352C;
    }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: 10px;
    scrollbar-color: #878787 #374151;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #E5E7EB;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-light-blue);
    border: 1px solid var(--color-light-blue);
}

.dark *::-webkit-scrollbar-track {
    background: #fff7ed;
}

.dark *::-webkit-scrollbar-thumb {
    background-color: #fdba74;
    border: 1px solid #fdba74;
}

/* Dark mode tooltip  */
.dark .tooltipParent .tooltip {
    background-color: #fff;
    color: #374151;
    font-weight: 900;
    font-size: 16px;
}

/* Light mode tooltip */
.tooltipParent .tooltip {
    background-color: #000;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
}