@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-blue: #007ABD;
        --color-light-blue: #7CB1DD;
        --color-light-orange: rgb(254 215 170);
        --color-hover-orange: rgb(255 247 237);
        --color-orange: #EE7D11;
        --color-gray: #374151;
    }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: 10px;
    scrollbar-color: #878787 #374151;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #E5E7EB;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(96 165 250);
    border: 1px solid rgb(96 165 250);
}

.dark *::-webkit-scrollbar-track {
    background: #fff7ed;
}

.dark *::-webkit-scrollbar-thumb {
    background-color: rgb(253 186 116);
    border: 1px solid rgb(253 186 116);
}

/* Dark mode tooltip  */
.dark .tooltipParent .tooltip {
    background-color: #fff;
    color: #374151;
    font-weight: 900;
    font-size: 16px;
}

/* Light mode tooltip */
.tooltipParent .tooltip {
    background-color: #374151;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
}